.benifit {
  margin-bottom: 0;
}
.benifitsWrapper {
  display: flex;
  height: 500px;
  width: 100%;
  position: relative;
}
.benifitsLeft {
  flex: 6;
  /* background-color: #fff; */
}
.imgContent {
  height: 100%;
  width: 90%;
  float: right;
}

.benifitsRight {
  flex: 6;
  height: 100%;
  background-color: #0a0a51;

  /* top: -10px; */
  /* position: absolute; */

  /* overflow: hidden; */
}
.rightContent {
  top: -100px;
  height: 100%;
  width: 50%;
  position: absolute;
  background-color: #0a0a51;
}
.rightContent h1 {
  font-size: 45px;
  color: #ffff;
  letter-spacing: 2px;
}
.rightImg {
  position: absolute;
  height: 102%;
  width: 100%;
  left: 0;
}
