.body {
  height: 450px;
  position: relative;
  /* overflow: hidden; */
}

.des {
  font-weight: 700;
  line-height: 20px;
  /* z-index: -1; */
}
/* ///// */
.description {
  width: 600px;
  position: absolute;
  z-index: 999;
  color: aliceblue;
  top: 15px;
  left: 0;
  height: fit-content;
}
.description h3 {
  font-size: 30px;
  font-weight: 400;
  animation: drop 0.4s linear forwards;
  /* animation: description 1s ease infinite; */
  /* color: #00ffff; */
}

.description p {
  font-size: 40px;
  font-weight: 500;
  animation: drop 0.6s linear forwards;
}
.carousel-boullt {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-boullt span {
  width: 45px;
  height: 12px;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
}

@keyframes drop {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
